<article class="country">
    <h1 class="country__name">{{name}}</h1>
    <div class="container">
        <div class="country__info">
            <p class="country__capital">Capital: <span>{{capital}}</span></p>
            <p class="country__population">Population: <span>{{population}}</span></p>
            <p class="country__languages">
                Languages:
                <ul class="country__languages-list">
                    {{#each languages}}
                    <li class="country__language-item">{{name}}</li>
                    {{/each}}
                </ul>
            </p>
        </div>
        <div class="thumb">
            <img class="country__flag" src="{{flag}}" alt="country flag" >
        </div>
    </div>
</article>